body {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
}

header {
    display: flex;
    justify-content: space-between; 
    background-color: rgb(255, 220, 65);
    padding: 8px;
}

header > a > img,
header > div {
    width: 150px;
    height: 155px;
}

body > nav {
    padding: 20px;
    background-color:rgb(190, 146, 0);
    display: flex;
    justify-content: center;
    gap: 80px;
}

nav {
    font-size: 20px;
}

h2, p, ul {
    font-size: 20px;
}

main {
    padding: 30px;
    background-color: rgb(254, 255, 219);
}

main > p {
    width: 60vw; 
}

footer {
    padding: 15px;
    background-color:rgb(190, 146, 0);
}

footer > nav {
    padding: 15px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

footer > p {
    display: flex;
    justify-content: center;
}

form { 
    max-width:420px; 
    margin:50px auto; 
}

.feedback-input {
  color:rgb(3, 3, 3);
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgb(247, 236, 189);
  border: 2px; 
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border: 2px rgb(255, 196, 0); 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  background:rgb(190, 146, 0);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}
[type="submit"]:hover { background:rgb(255, 220, 65); }